@keyframes animateSvg
{
    to
    {
        transform: translate(-50%,20px);
    }
}

@keyframes upanddown
{
    to
    {
        transform: translateY(5px);
    }
}

@keyframes upupdowndown
{
    to
    {
        transform: translateY(-20px);
    }
}