#contacts
{
    min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  >section
  {
    background-color: $color1;
    width: 100%;
    height: 100%;
    >form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        > h2 {
            text-align: center;
            font: 500 2.7rem $text1;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin: 2rem;
          }
          > input,
      > button {
        padding: 0.8rem;
        width: 40%;
        outline: none;
        font: 500 0.9rem $text1;
        margin: 1rem;
        border: none;
      }
      > button {
        cursor: pointer;
        background-color: #339af0;
        color: $color4;
        font: 600 1rem $text1;
        text-transform: uppercase;
        border-radius: 4px;
        margin: 3rem;
        letter-spacing: .15rem;
        transition: all .3s;
        &:hover {
          background-color: #1c7ed6;
        }
      }
    }
  }
  > aside {
    width: 100%;
    height: 100%;
    background-color: #e8f4fe;
    display: grid;
    place-items: center;
    img {
      width: 70%;
      height: 70%;
      object-fit: cover;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.110)) ;
      animation: upupdowndown 0.7s infinite linear alternate;
    }
  }
}